<h1>About Us</h1>

<div>
  
  <div>mondain (Owner)</div>

  <div>
    <ul>
      <li>Design new features, write code and unit tests</li>
      <li>Package releases from release branches</li>
      <li>Have fun hacking and learn new stuff!</li>
      <li>Triage new issues and support requests from end-users</li>
    </ul>
  </div>

  <div>daccattato (Owner)</div>

  <div>
    <ul>
      <li>Lead by providing a project vision and roadmap</li>
      <li>Plan the scope of release milestones and track progress</li>
      <li>Design core libraries, write code and unit tests</li>
      <li>Design new features, write code and unit tests</li>
      <li>Document our development process and help new members</li>
      <li>Write end-user documentation and examples</li>
    </ul>
  </div>

  <div>mrchrisallen (Owner)</div>

  <div>
    <ul>
      <li>Lead by providing a project vision and roadmap</li>
    </ul>
  </div>

  <div>tiago.jacobs (Owner)</div>

  <div>
    <ol>
      <li>Design new features, write code and unit tests</li>
      <li>Review code for security and scalability</li>
      <li>Translate UI text and documentation to new locales</li>
    </ol>
  </div>

  <div>electroteque (Committer)</div>

  <div>
    <ul>
      <li>Write end-user documentation and examples</li>
      <li>Review code for security and scalability</li>
      <li>Define database schemas and persistence layers</li>
    </ul>
  </div>

  <div>art.clarke (Committer)</div>

  <div>
    <ul>
      <li>Set up and maintain build tools and test automation</li>
    </ul>
  </div>

  <div>Non-Active</div>

  <div>
    <ul>
      <li>sybersnake (Committer)</li>
      <li>joachim.bauch (Committer)</li>
      <li>steven.gong (Committer)</li>
      <li>carlsz (Contributor)</li>
      <li>davi.fol (Contributor)</li>
      <li>worldofpaper (Contributor)</li>
      <li>crtmpserver (Contributor)</li>
      <li>mabrek (Contributor)</li>
      <li>thijs.triemstra (Contributor)</li>
      <li>king.selassie (Contributor)</li>
    </ul>
  </div>

  <div>neoriley (Contributor)</div>

  <div>
    <ul>
      <li>Lead by providing a project vision and roadmap</li>
    </ul>
  </div>

</div>