<h1>Features</h1>

<p>
  <span style="font-size: 15.6px;">Here’s a brief description of the features in Red5. The&nbsp;<a href="http://trac.red5.org/wiki/Changelog">Changelog</a> contains a more detailed summary of all new features.</span>
</p>

<ul>
  <li>Streaming Audio/Video (FLV and MP3)</li>
  <li>Recording Client Streams (FLV only)</li>
  <li>Shared Objects</li>
  <li>Live Stream Publishing (live h264 supported now)</li>
  <li>Remoting (<a href="http://livedocs.adobe.com/flex/3/langref/flash/net/ObjectEncoding.html#AMF0"> AMF0</a>/<a href="http://livedocs.adobe.com/flex/3/langref/flash/net/ObjectEncoding.html#AMF3"> AMF3</a>)</li>
</ul>