<p>Red5 Media Server 1.0 delivers a powerful video streaming and multi-user solution to the &copy;Adobe &copy;Flash Player and other exciting client technologies. Based on Java and some of the most powerful open source frameworks, Red5 stands as a solid solution for business of all sizes including the enterprise.</p>

<p>Red5 includes support for the latest multi-user API's including NetConnection, NetStream and SharedObject's while providing a powerful RTMP / Servlet implementation. In addition to support for the RTMP protocol, the application server has an embedded Tomcat Servlet container for JEE Web Applications. Application development draws additional benefits from the Spring Framework and Scope based event driven services.</p>

<p>By using the Open Source Red5 Media Server, you are developing with a truly open and extensible platform that can be used in Video Conferences, Multi-User Gaming and Enterprise Application Software.</p>

<p>Happy Coding and enjoy our powerful free community server!</p>