<h1>IRC Channel</h1>

<p>We created an <a href="http://en.wikipedia.org/wiki/IRC"> IRC</a> channel on the freenode.net network for informal Red5 discussions, asking questions or just hanging out and “socializing”.</p>
<p>The channel is <a href="irc://irc.freenode.net/red5"> #red5 on irc.freenode.net</a></p>
<p>Drop by if you are interested in the development of Red5, have a quick  question or just want to get to know the people developing and using it.  If you’re new to IRC, be sure to learn how to <a href="http://www.mikeash.com/getting_answers.html"> get answers</a>.</p>