<h1>Mailing Lists</h1>

<p><strong>Mailing Lists</strong></p>
<p>Communication, discussion and decision making within the Red5 project is primarily done through mailing lists.</p>
<hr>
<h2 id="Users">Users<a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Users"></a></h2>
<p>The main mailing list for the Red5 community. Subscribe to this list if you’re new, need help, or want to know more about Red5.</p>
<p><a href="http://groups.google.com/group/red5interest">Red5Interest List</a> <a href="http://osflash.org/pipermail/red5_osflash.org">Archives (before 20091117)</a></p>
<h2 id="Devs">Devs<a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Devs"></a></h2>
<p>The mailing list for the Red5 maintainers. Read only for non project members.</p>
<p><a href="http://groups.google.com/group/red5developers">Red5Developers List</a> -&nbsp;<a href="http://osflash.org/pipermail/red5devs_osflash.org/"> Archives (before 20091117)</a></p>
<h2 id="Announce">Announce<a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Announce"></a></h2>
<p>Announce is a very low traffic mailing list for announcements regarding Red5, mostly release notes and important updates. This list is read-only.</p>
<p><a href="http://osflash.org/mailman/listinfo/red5-announce_osflash.org">Subscribe</a> -&nbsp;<a href="http://osflash.org/pipermail/red5-announce_osflash.org/"> Archives</a></p>
<h2 id="Commits">Commits<a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Commits"></a></h2>
<p>Commits is a read-only list which is used to disseminate version control check-in messages made to the source code by the Red5 maintainers.</p>
<p><a href="http://osflash.org/mailman/listinfo/red5commits_osflash.org">Subscribe</a> -&nbsp;<a href="http://osflash.org/pipermail/red5commits_osflash.org/"> Archives</a></p>
<h2 id="Tickets">Tickets<a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Tickets"></a></h2>
<p>Tickets is a fairly high traffic mailing list for ticket changes. Every time a Red5 ticket is modified a new message is posted on this list. This list is read-only.</p>
<p><a href="http://groups.google.com/group/red5tickets">Subscribe</a> -&nbsp;<a href="http://groups.google.com/group/red5tickets/topics"> Archives</a></p>
<h2 id="Builds">Builds<a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Builds"></a></h2>
<p>Builds is a read-only mailing list for reports from our&nbsp;<a href="http://build.theyard.net/"> build farm</a>. Every time Hudson encounters a build failure a new message is posted on this list.</p>
<p><a href="http://groups.google.com/group/red5-builds">Subscribe</a> -&nbsp;<a href="http://groups.google.com/group/red5-builds/topics"> Archives</a></p>