<h1>Red5 IDE Plugin</h1>

<p>
  <strong>Red5Plugin Installation Instructions</strong>
</p>

<p>
  Prerequisite Software: You must use the JEE distribution of Eclipse.  The standard Java distribution will not work.
</p>

<p>
  See the following <a href="#https://docs.google.com/a/infrared5.com/document/d/11ju06wbnEdC3ay0VuUxpKcXIoSx5NaHruNKuZQ4yOCk/edit#" target="_blank">GUIDE</a> in order to setup the plugin
</p>

<p>
  <strong>Latest Version</strong>
</p>

<p>
  Name: Red5Plugin 1.0.x (Eclipse 3.7+)<br>
  URL: <a href="#http://www.red5.org/downloads/projects/red5plugin/update_1.0.x">http://www.red5.org/downloads/projects/red5plugin/update_1.0.x</a>
</p>

<p>
  <strong>Older Versions</strong>
</p>

<p>
  Name: Red5Plugin 0.2.x (Eclipse 3.2+)<br>
  URL: <a href="#http://www.red5.org/downloads/projects/red5plugin/update_0.2.x/">http://www.red5.org/downloads/projects/red5plugin/update_0.2.x/</a>
</p>