<h1>Red5 Server</h1>

<p>
  <strong>Red5 Release Page</strong>
</p>

<p>
  <a href="#http://red5.org/downloads/red5/1_0">1.0</a><br>
  <a href="#http://red5.org/downloads/red5/0_9">0.9</a><br>
  <a href="#http://red5.org/downloads/red5/0_8">0.8</a><br>
  <a href="#http://red5.org/downloads/red5/0_7_0">0.7</a><br>
  <a href="#http://red5.org/downloads/red5/0.6.3">0.6</a>
</p>