<h1>Support</h1>

<p><strong><a href="#http://www.red5.org/downloads/docs/red5-reference-1.0.pdf">Documentation</a></strong></p>
<p>Reference Manual</p>
<p><strong><a href="#http://www.red5.org/forums/forums.php">Forums</a></strong></p>
<p>Common Questions, &nbsp;discussions, tutorials.</p>
<p><strong><a href="#http://www.red5.org/mailing-lists/">Mailing Lists</a></strong></p>
<p>Communication, discussion and decision making within the Red5 project is primarily done through mailing lists.</p>
<p><a href="#http://www.red5.org/irc-channel/"><strong>IRC</strong></a></p>
<p>We created an <a href="http://en.wikipedia.org/wiki/IRC"> IRC</a> channel on the freenode.net network for informal Red5 discussions, asking questions or just hanging out and “socializing”.</p>
<p>The channel is <a href="irc://irc.freenode.net/red5"> #red5 on irc.freenode.net</a></p>
<p>Drop by if you are interested in the development of Red5, have a quick  question or just want to get to know the people developing and using it.  If you’re new to IRC, be sure to learn how to <a href="http://www.mikeash.com/getting_answers.html"> get answers</a>.</p>
<p><strong>Professional Services</strong></p>
<div>
<div>For commercial support, customization, integration, and additional features beyond the open source project please contact:</div>
<div>
<br><br>
<a href="http://www.infrared5.com/"><img class="alignnone" src="/web/20141126154627im_/http://www.infrared5.com/assets/desktop-header-logo-hd.png" alt="" width="164" height="52"></a></div>
<div>Infrared5 is a Boston based interactive studio that specializes in Red5 application development.</div>
<div>Learn More (<a href="www.infrared5.com" target="_blank">www.infrared5.com</a>)</div>
</div>
<p><br></p>
<div><a href="http://www.imdt.com.br/"><img class="alignnone" src="/web/20141126154627im_/https://dl.dropboxusercontent.com/u/9226799/iMDT_logo1.png" alt="" width="102" height="38"></a></div>
<div>iMDT is a professional services company in Brazil that contribute to development of red5 and has &nbsp;professionals with high-level skills on Red5 technology.</div>
<div>Learn More (<a href="http://www.imdt.com.br/" target="_blank">http://www.imdt.com.br</a>)</div>