<h2>
  <a href="/post/0" rel="bookmark" title="Red5 Teams Releases 1.0 RC Build">Red5 Teams Releases 1.0 RC Build</a>
</h2>

<p class="post-meta">
  <span>December 31, 2010 in <a href="/news" title="View all posts in News" rel="category tag">News</a></span>
</p>

<p>
  Freshly into Q1 of 2011, the Red5 team has dropped a release candidate for the impending 1.0 release. A major effort has been placed on fixing bugs for this release and working on solidifying some performance issues with streaming in general. We’re pretty excited to announce that we feel pretty comfortable with what’s been done and were now hoping that users can begin testing their applications and report feedback.
</p>

<p>
  A few modifications that are worth noting are:
</p>

<ul>
  <li>Fixed War Build</li>
  <li>Several Fixes to RTMPT and RTMPe</li>
  <li>Seeking for MP4 Files</li>
  <li>Serialization Fixes</li>
  <li>Native Bandwidth Detection Up/Down</li>
  <li>many more&hellip;</li>
</ul>

<p>If your interested in a listing of all the fixes, please consult the source changes list (<a href="http://code.google.com/p/red5/source/list">http://code.google.com/p/red5/source/list</a>)</p>
