<h1>Red5 1.0 Final Released</h1>

<p class="post-meta">
  <span>December 10, 2012 in <a href="#http://www.red5.org/category/uncategorized/" title="View all posts in Uncategorized" rel="category tag">Uncategorized</a> - <a href="#http://www.red5.org/2012/12/10/red5-1-0-final-released/#respond" title="Comment on Red5 1.0 Final Released">Leave a reply</a></span>
</p>

<p>
  We have some exciting news about Red5. On December 3rd, Paul packaged up the official Red5 1.0 Final distributions. These come in Windows, ZIP and Tarball (<a href="https://code.google.com/p/red5/">https://code.google.com/p/red5/</a>). If you’ve followed the project from its early days, you know just how long the road has been. If you are new to the server, then you should be aware that development started around September 20th 2005. Yes you’ve read that correctly. The server was started in 2005 and it is now 2012 and we are releasing 1.0! What this means is that although we are only just reaching our 1.0 milestone, Red5 is being used in production on a large range of applications and has been for several years. The codebase is solid and the API has lasted the test of time to a large degree.
</p>

<p>
  Now we are starting to talk about what direction to take the server. Hopefully, we’ll be able to put some of our ideas past the community over the next few months. Mostly, we are interested in adding support to several of the streaming technologies out there and scaling the server in a conventionally accepted way as compared to the ad-hoc way that this is done today. So to the community, we want to thank you for your support. To all of the developers who have contributed, we are forever in your debt. Last, we’re excited to hear what you build with Red5!
</p>

<p>
  Finally, you can grab the latest bits on our downloads page (<a href="/red5-server">http://www.red5.org/red5-server/</a>).
</p>